<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    {{! CSS Link }}
    <link rel="stylesheet" href="/css/homeStyles.css" />
  </head>
  <body>
    {{! Header }}
    {{>header}}
    {{! Home }}
    <section class="home" id="home">
      <div class="home-text container">
        <h2 class="home-title">Tune In Live Blog</h2>
        <span class="home-subtitle">Your source of great content</span>
      </div>
    </section>
    {{! Post Filter }}
    <div class="post-dropdown container">
      <button class="dropdown-link button filter" id="Country">All Genres</button>
      <div class="dropdown-menu">
        <ul>
          {{#each genreArray as |genre|}}
            {{!-- {{#if isEqual genre }} --}}
            {{>button genre=genre.description}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{! Posts }}
    <section class="post container" id="post-section">
      {{#each concertArray as |concert|}}
        {{>post artist=concert.artist genre=concert.genre.description venue=concert.venue city=concert.city state=concert.state date=concert.concert_date}}
      {{/each}}
    </section>
    {{{body}}}
    <script src="/js/postFiller.js"></script>
    <script src="/js/dropdown.js"></script>
  </body>
</html>